{% extends "entidades/index.html" %}



{% block titulo %}
 <h1 class="mt-4"> Hola, mi nombre es, Sergio Jaque.... </h1>
 <h3 class="mt-4">    y este es mi proyecto final para el curso de Python </h3>


{% endblock titulo %}

{% block contenido %}

<p class="mt-4"> Soy argentino, tengo un hijo de 11 años que se llama Astor y vivo en Buenos Aires.
    Me considero un apasionado por la informática en gral. HW & SF...
    Además del curso de Python, tengo planificado hacer varios cursos de Linux, inglés y retomar la formacion universitaria.
 </p>
     
{% endblock contenido %}