
{% extends "entidades/index.html" %}

<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
    
</ul>



{% block titulo %}


{% endblock titulo %}

{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Hosts</h2></td>
        <td>
            <a
            href="{% url 'hostsForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
        <td>
            <a
            href="{% url 'buscarHosts' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa-solid fa-magnifying-glass" title="Buscar"></i>
           
            </a>
        </td>  
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Hostname</th>
            <th>IP</th>
            <th>Vlan</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for c in hosts  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.host_name }}</td>
            <td>{{ c.host_ip }}</td>
            <td>{{ c.host_vlan }}</td>

            <td>
                <a
                  href="{% url 'hostsUpdate' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>

                <a
                href=""
                class="btn btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa-solid fa-gears" title="Check"></i>
                
              </a>

                <a
                  href="{% url 'hostsDelete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>
                
              
            </td>   

        </tr>
    {% endfor %}
    </tbody>
</table>
     
{% endblock contenido %}