{% extends "entidades/index.html" %}

<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
   
</ul>



{% block titulo %}
 <h1 class="mt-4"> Proyectos & Apps  </h1>
 



{% endblock titulo %}

{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Owners</h2></td>
        <td>
            <a
            href="{% url 'ownersForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Responsable</th>
            <th>Proyecto</th>
            <th>Contacto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for c in owners  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.responsables_own }}</td>
            <td>{{ c.proyecto_own }}</td>
            <td>{{ c.contacto_own }}</td>


            <td>
                <a
                  href=""
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
              
                <a
                  href=""
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>
                
              
                


            </td>   

        </tr>


    {% endfor %}
    </tbody>
</table>
     
{% endblock contenido %}