{% extends "entidades/index.html" %}

<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
    <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
   
</ul>



{% block titulo %}
 <h1 class="mt-4"> VLANS  </h1>
 
 <form action= "{% url 'vlansForm' %}">
    <input type="submit" value="Cargar Vlans" />
 </form>

{% endblock titulo %}

{% block contenido %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>vlan_name</th>
            <th>vlan_tag</th>
            <th>vlan_desc</th>
        </tr>
    </thead>
    <tbody>
    {% for c in vlans  %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.vlan_name }}</td>
            <td>{{ c.vlan_tag }}</td>
            <td>{{ c.vlan_desc }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
     
{% endblock contenido %}